.navbar{
    margin: 10px;
    margin-bottom: 0px;
}

body{
    background-color: #097979;
    font-family: "Quicksand", sans-serif;
}

#namesheet{
    padding-top: 200px;
    margin: 10px;
    margin-top: 0px;
    background-color: #f8f9fa;
    
}

#pretextsheet{
    margin-top: -10px;
    margin-bottom: 15px;
    margin-left: 80px;
}

#containtextsheet{
    padding: 5px;
    margin-right: 1220px;
    margin-left: 80px;
    background-color: #097979;
}

#textsheet{
    padding: 5px;
    margin-top: -10px;
    margin-bottom: 2px;   
    background-color: #119494;
    margin-right: 0px;
    margin-left: -16px;
    font-family: 'Lilita One', cursive;
    color: #f2f2f2;
    font-size: 80px;
}

#subtextsheet1{
    margin: 10px;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 15px;
    
}

#containsubtextsheet{
    padding: 5px;
    margin-right: 1480px;
    margin-left: 90px;
    background-color: #097979;
}

#subtextsheet2{
    padding: 5px;
    margin-top: -10px;
    margin-bottom: 2px;   
    background-color: #119494;
    margin-right: 0px;
    margin-left: -15px;
    font-family: 'Lilita One', cursive;
    color: #f2f2f2;
    font-size: 60px;
}



#waves1{
    width: 355px;
    margin-left: 1400px;
    margin-top: -355px;
}

#waves2{
    width: 355px;
    margin-left: 1400px;
    rotate: 1800px;
    transform: rotate(180deg);
    margin-bottom: 100px;
}

#me{
    background-color: #119494;
    margin-left: 1400px;
    border: solid;
    border-color: #097979;
    margin-top: -150px;
}



#bodysheet1{
    background-color: #119494;
    margin: 10px;
    margin-top: 20px;
}

#containbody1{
    box-sizing: border-box;
    margin-top: 40px;
    padding: 5px;
    margin-right: 1620px;
    margin-left: 90px;
    background-color: #b4b4b4;
    
}

#jobtext{
    padding: 5px;
    margin-top: -10px;
    margin-bottom: 0px;   
    background-color: #ffffff;
    margin-right: 0px;
    margin-left: -16px;
    color: #000000;
}

#margin{
    margin: 5px;
}

#imgjob1{
    width: 100px;
}

























@media (min-width: 992px) {
    .navbar-nav{
        margin-top: 20px;
        position: absolute!important;
        transform: translate(-50%,-50%)!important;
        left: 50%!important;
        top: 50%!important;
    }
    .nav-item{
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 20%;
    }
}